.error{
    color: red;
    font-style: italic;
    font-weight: bold;
}
h2{
    text-align: center;
}
input{
    width: 100%;
}
.submit{
	background-color:blue;
	color:white;
}
.container{
    width: 200px;
    margin: 10px auto;
    border: black solid 1px;
    border-radius: 20px;
}
.content{
    margin: 20px 15px;;
}